#middle{
    position: relative;
    border: 2px solid beige;

}
#illustration{
   
   padding-left: 25%;
}
#backgimg{
background-image: url(images/bg-curvy-desktop.svg) ;
background-position: center;
background-size: cover;
color: rgb(193, 195, 199);
background-repeat: no-repeat;

/*background-attachment: fixed;*/
position: relative;
}
#crd{
   background-color: rgba(0, 15, 44, 0.26);
   border-radius: 10px;
   margin-bottom: 10%;
  
}
#foot{
    background-color: rgba(2, 8, 19, 0.877); 
    padding: 5%; 
}
#btm{
    bottom: 15%;
    left: 20%;
    position: absolute;
}
